<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon: Stylist</title>
  </head>
  <body>
    <div class='container'>
      <h1>{{ stylist.getName }}'s clients:</h1>
      <h3>Add a client:</h3>
<!-- form stuff -->
      <form action="/client" method="post">
        <label for="c_name">Client name:</label>
        <input id="c_name" name="c_name" type="text">
        <input value="{{ stylist.getId }}" id="stylist_id" name="stylist_id" type="hidden">
        <button type="submit" class='btn btn-default btn-sm'>Add client</button>
      </form>

      {% if clients is not empty %}
        <p>Here are all of {{ stylist.getName }}'s clients:</p>
      <ul>
        {% for client in clients %}
          <li>{{ client.getC_name }}</li>
          <form action="/stylists/{{ stylist.getId }}/deleteSingle" method="post"><input value='{{ client.getId }}' name="client_id" id="client_id" type="hidden"><input name="_method" type="hidden" value="delete"><button type="submit" class="btn btn-warning btn-xs">Cancel client</button></form>

        {% endfor %}

        <form action="/stylists/{{ stylist.getId }}/deleteClients" method="post">
          <input name="_method" type="hidden" value="delete">
          <button type='submit' class="btn btn-danger btn-sm">Remove all clients</button>
        </form>

      </ul>
      {% else %}
        <p>{{ stylist.getName }} has no clients yet.</p>
      {% endif %}

      <a href="/stylists/{{ stylist.getId }}/edit"><button type="submit" class='btn btn-success btn-sm'>Update stylist's info</button></a>
        <br>
      <a href="/"><button type="submit" class="btn btn-info btn-sm">Home</button></a>
    </div>
  </body>
</html>
